version: "3.3"

services:
  react-dev:
    image: node:20-alpine
    container_name: react-dev
    working_dir: /app
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - FAST_REFRESH=true
    command: sh -c "npm install && npm start"
    stdin_open: true
    tty: true
    restart: unless-stopped

volumes:
  node_modules:
